<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database" connectionString="Server = .;Database = Database1.mdf;Trusted_Connection = True;"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.IcarVisitorConnectionString"
            connectionString="Data Source=DESKTOP-F6BD36Q\MSSQLSERVER01;Initial Catalog=IcarVisitor;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>